<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Clinica Code</title>
    <th:block th:insert="fragments/resources-css"/>
</head>
<body>
<div class="container-scroller">
    <th:block th:insert="fragments/navbar"/>

    <div class="container-fluid page-body-wrapper">
        <th:block th:insert="fragments/sidebar"/>
        <div class="main-panel">
            <div class="content-wrapper">
                <!--CONTENIDO DE LA PAGINA-->
                <!-- Page Title Header Starts-->
                <!-- Page Title Header Starts-->
                <div class="row page-title-header">
                    <div class="col-12">
                        <div class="page-header">
                            <h4 class="page-title">Mantenimiento Datos Doctor</h4>
                        </div>
                    </div>
                </div>
                <!--TABLES-->
                <div class="col-lg-12 col-md-12 col-sm-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Doctores</h4>
                            <p class="card-description text-right">
                                <a class="btn btn-outline-primary btn-fw btn-lg" th:href="@{/medico/nuevo}">
                                    <i class="mdi mdi-account-multiple-plus"></i>Registrar Doctor</a>
                            </p>
                            <div class="table-responsive table-responsive-lg table-responsive-md table-responsive-sm">
                                <table class="table table-hover text-center">
                                    <thead>
                                    <tr>
                                        <th>NOMBRES</th>
                                        <th>APELLIDOS</th>
                                        <th>DNI</th>
                                        <th>CMP</th>
                                        <th>ESPECIALIDAD</th>
                                        <th>OPCIONES</th>
                                    </tr>
                                    </thead>
                                    <tbody class="text-center">
                                    <tr th:each="medico: ${medicos}">
                                        <td th:text="${medico.firstName}"></td>
                                        <td th:text="${medico.lastName}"></td>
                                        <td th:text="${medico.dni}"></td>
                                        <td th:text="${medico.cmp}"></td>
                                        <td th:text="${medico.especialidad.name}"></td>
                                        <td>
                                            <a th:href="@{/medico/editar/{id}(id=${medico.id})}"  data-toggle="tooltip" data-placement="bottom" title="EDITAR" class="btn social-btn btn-rounded btn-outline-warning">
                                                <i class="mdi mdi-circle-edit-outline"></i>
                                            </a>
                                            <a th:href="@{/medico/password/{id}(id=${medico.id})}"  data-toggle="tooltip" data-placement="bottom" title="CAMBIAR CONTRASEÑA" class="btn social-btn btn-rounded btn-outline-primary">
                                                <i class="mdi mdi-account-key"></i>
                                            </a>
                                            <a th:href="@{/medico/especialidad/{id}(id=${medico.id})}"  data-toggle="tooltip" data-placement="bottom" title="EDITAR ESPECIALIDAD" class="btn social-btn btn-rounded btn-outline-info">
                                                <i class="mdi mdi-doctor"></i>
                                            </a>
                                            <a href="#" th:onclick="'eliminarMedico('+${medico.id}+')'" data-toggle="tooltip" data-placement="bottom" title="ELIMINAR" class="btn social-btn btn-rounded btn-outline-danger">
                                                <i class="mdi mdi-trash-can-outline"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <th:block th:insert="fragments/footer"/>
        </div>
    </div>
</div>

<th:block th:insert="fragments/resources-js"/>
<script type="text/javascript">
    function eliminarMedico(id) {
        Swal.fire({
            title: 'Eliminar Medico',
            html: "Esta operaci&oacute;n no se podr&aacute; revertir",
            icon : "warning",
            showCancelButton: true,
            confirmButtonText: 'S&iacute;, Eliminar medico',
            confirmButtonColor: '#d33',
            showLoaderOnConfirm: true,
            preConfirm: () => {
                return fetch("/medico/eliminar/" + id, { method: 'POST' })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error("Ocurrio un error")
                        }
                        return response.json()
                    })
                    .catch(error => {
                        Swal.showValidationMessage(error)
                    })
            },
            allowOutsideClick: () => !Swal.isLoading()
        }).then((result) => {
            if (result.value) {
                Swal.fire({
                    title: "Resultado",
                    text: result.value.message
                }).then((result) => {
                    window.location = "/medico/medicos";
                })
            }
        });
    }
</script>

</body>
</html>

