<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Clinica Code</title>
    <th:block th:insert="fragments/resources-css"/>
</head>
<body>
<div class="container-scroller">
    <th:block th:insert="fragments/navbar"/>

    <div class="container-fluid page-body-wrapper">
        <th:block th:insert="fragments/sidebar"/>
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="col-sm-12 col-md-6 col-lg-6 m-auto stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">EDITAR CONTRASEÑA DEL MEDICO</h4>
                            <p class="card-description"> </p>
                            <form th:method="post"
                                  th:action="@{/medico/actualizar/password}">
                                <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <p th:text="${error}" class="text-center"></p>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="form-group row">
                                    <label for="pass-medico" class="col-sm-3 col-form-label">Contraseña</label>
                                    <div class="col-sm-9">
                                        <input type="hidden" name="idMedico" th:value="${medico}">
                                        <input type="password" name="medicoPassword" class="form-control" id="pass-medico" placeholder="Escriba la CONTRASEÑA del médico">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-warning float-right ml-2">EDITAR</button>
                                <a class="btn btn-light float-right" th:href="@{/medico/medicos}">CANCELAR</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <th:block th:insert="fragments/footer"/>
        </div>
    </div>
</div>

<th:block th:insert="fragments/resources-js"/>
</body>
</html>